{
	"arrowParens": "avoid",
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 2,
	"semi": false,
	"printWidth": 80,
	"trailingComma": "none",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"config/*",
		"libraries/*",
		"middleware/*",
		"modules/*",
		"/routes/",
		"/middlewares/",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
